<!-- Секция с карточками сервисов -->
<section class="mt-8 md:mt-16 lg:mt-20 mb-12 mx-auto max-w-[1920px] bg-brand-light w-full 3xl:rounded-3xl" id="services-cards">

  <div class="max-w-[1200px] mx-auto my-20">
    <div class="flex flex-col md:flex-row flex-wrap">
      <div class="flex flex-col w-full md:w-2/5 md:px-2">
        <a href="#" class="service-card-item bg-white rounded-xl rounded-lg flex items-center group">
          <img src="{{basePath}}assets/img/sections/request-for-calculation.png" alt="Запрос на расчет"
            class="w-16 h-16 mr-4">
          <span class="text-body-secondary text-brand-gray group-hover:text-brand-blue transition-colors">Запрос на
            расчет</span>
          <div class="ml-auto arrow-wrapper">
            <img src="{{basePath}}assets/img/sections-button-arrow.svg" alt=""
              class="w-4 h-4 group-hover:translate-x-1 transition-transform">
          </div>
        </a>
        <a href="#" class="service-card-item bg-white rounded-xl rounded-lg flex items-center group">
          <img src="{{basePath}}assets/img/sections/track.png" alt="Отследить груз" class="w-16 h-16 mr-4">
          <span class="text-body-secondary text-brand-gray group-hover:text-brand-blue transition-colors">Отследить
            груз</span>
          <div class="ml-auto arrow-wrapper">
            <img src="{{basePath}}assets/img/sections-button-arrow.svg" alt=""
              class="w-4 h-4 group-hover:translate-x-1 transition-transform">
          </div>
        </a>
        <a href="#" class="service-card-item bg-white rounded-xl rounded-lg flex items-center group">
          <img src="{{basePath}}assets/img/sections/feedback.png" alt="Обратная связь" class="w-16 h-16 mr-4">
          <span class="text-body-secondary text-brand-gray group-hover:text-brand-blue transition-colors">Обратная
            связь</span>
          <div class="ml-auto arrow-wrapper">
            <img src="{{basePath}}assets/img/sections-button-arrow.svg" alt=""
              class="w-4 h-4 group-hover:translate-x-1 transition-transform">
          </div>
        </a>
        <div class="flex flex-row mb-4 md:mb-0 gap-4 half-cards">
          <a href="#"
            class="service-card-item bg-white rounded-xl rounded-lg flex items-center group md:w-1/2 md:flex-col items-start w-full md:items-start">
            <img src="{{basePath}}assets/img/sections/payment.png" alt="Оплата" class="w-16 h-16 mr-4 w-full">
            <span
              class="text-body-secondary text-brand-gray group-hover:text-brand-blue transition-colors">Оплата</span>
            <div class="ml-auto arrow-wrapper">
              <img src="{{basePath}}assets/img/sections-button-arrow.svg" alt=""
                class="w-4 h-4 group-hover:translate-x-1 transition-transform">
            </div>
          </a>
          <a href="#"
            class="service-card-item bg-white rounded-xl rounded-lg flex items-center group md:w-1/2 md:flex-col items-start w-full md:items-start">
            <img src="{{basePath}}assets/img/sections/tariffs.png" alt="Тарифы" class="w-16 h-16 mr-4 w-full">
            <span
              class="text-body-secondary text-brand-gray group-hover:text-brand-blue transition-colors">Тарифы</span>
            <div class="ml-auto arrow-wrapper">
              <img src="{{basePath}}assets/img/sections-button-arrow.svg" alt=""
                class="w-4 h-4 group-hover:translate-x-1 transition-transform">
            </div>
          </a>
        </div>
      </div>
      <div class="flex flex-col w-full md:w-3/5 md:px-2">
        <a href="#" class="service-card-item bg-white rounded-xl rounded-lg flex items-center group">
          <img src="{{basePath}}assets/img/sections/shipping.png" alt="Заявка на перевозку" class="w-16 h-16 mr-4">
          <span class="text-body-secondary text-brand-gray group-hover:text-brand-blue transition-colors">Заявка на
            перевозку</span>
          <div class="ml-auto arrow-wrapper">
            <img src="{{basePath}}assets/img/sections-button-arrow.svg" alt=""
              class="w-4 h-4 group-hover:translate-x-1 transition-transform">
          </div>
        </a>
        <a href="#" class="service-card-item bg-white rounded-xl rounded-lg flex items-center group">
          <img src="{{basePath}}assets/img/sections/helper.png" alt="Страница «Помощник»" class="w-16 h-16 mr-4">
          <span class="text-body-secondary text-brand-gray group-hover:text-brand-blue transition-colors">Страница
            «Помощник»</span>
          <div class="ml-auto arrow-wrapper">
            <img src="{{basePath}}assets/img/sections-button-arrow.svg" alt=""
              class="w-4 h-4 group-hover:translate-x-1 transition-transform">
          </div>
        </a>
        <a href="#" class="service-card-item bg-white rounded-xl rounded-lg flex items-center group">
          <img src="{{basePath}}assets/img/sections/calculator.png" alt="Калькулятор" class="w-16 h-16 mr-4">
          <span
            class="text-body-secondary text-brand-gray group-hover:text-brand-blue transition-colors">Калькулятор</span>
          <div class="ml-auto arrow-wrapper">
            <img src="{{basePath}}assets/img/sections-button-arrow.svg" alt=""
              class="w-4 h-4 group-hover:translate-x-1 transition-transform">
          </div>
        </a>
        <a href="#" class="service-card-item bg-white rounded-xl rounded-lg flex items-center group">
          <img src="{{basePath}}assets/img/sections/international.png" alt="Запрос на международную перевозку"
            class="w-16 h-16 mr-4">
          <span class="text-body-secondary text-brand-gray group-hover:text-brand-blue transition-colors">Запрос на
            международную перевозку</span>
          <div class="ml-auto arrow-wrapper">
            <img src="{{basePath}}assets/img/sections-button-arrow.svg" alt=""
              class="w-4 h-4 group-hover:translate-x-1 transition-transform">
          </div>
        </a>
      </div>
    </div>
  </div>
</section>